<a href="https://colab.research.google.com/github/awwnchal/New-Feature-Performance-evaluation/blob/main/Introducing_an_online_community_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#  1

In [ ]:
did=pd.read_excel('/content/drive/MyDrive/Data.xlsx',
                  'Data 1')

In [ ]:
did.head()

   Customer ID  Month Before  Month After  Joined?  difference
0      1000201            58          132        1          74
1      1000202           135          154        0          19
2      1000203            35           68        0          33
3      1000204            95          170        1          75
4      1000205            91          149        1          58

In [ ]:
did=did[["Month Before","Month After", "Joined?"]]

In [ ]:
did.groupby("Joined?").mean()

         Month Before  Month After
Joined?
0           70.376068   101.247863
1           88.134146   148.024390

## Manual Way

In [ ]:
mean_rev_not_before=did.groupby('Joined?').mean().iloc[0, 0]
mean_rev_not_after=did.groupby('Joined?').mean().iloc[0, 1]
mean_rev_yes_before=did.groupby('Joined?').mean().iloc[1, 0]
mean_rev_yes_after=did.groupby('Joined?').mean().iloc[1, 1]

not_diff=mean_rev_not_after-mean_rev_not_before
yes_diff=mean_rev_yes_after-mean_rev_yes_before

yes_diff-not_diff

29.01844903064415

## Regression Way

In [ ]:
df_before=did[["Month Before","Joined?"]]
df_before['t']=0
df_before.columns=[["total_rev","g","t"]]

df_after=did[["Month After", "Joined?"]]
df_after['t']=1
df_after.columns=[["total_rev", "g", "t"]]

df_did=pd.concat([df_before, df_after])

In [ ]:
df_did.isna().sum()

total_rev    0
g            0
t            0
dtype: int64

In [ ]:
df_did['gt']=df_did['t'].values*df_did['g'].values

In [ ]:
df_did.dtypes

total_rev    int64
g            int64
t            int64
gt           int64
dtype: object

In [ ]:
from statsmodels.formula.api import ols
ols = ols('total_rev ~ g + t + gt', data=df_did).fit()
print(ols.summary())
## Note that the results are the same and that B3 is significant at any confidence level.

                            OLS Regression Results
==============================================================================
Dep. Variable:              total_rev   R-squared:                       0.341
Model:                            OLS   Adj. R-squared:                  0.336
Method:                 Least Squares   F-statistic:                     67.89
Date:                Wed, 09 Nov 2022   Prob (F-statistic):           2.09e-35
Time:                        02:40:05   Log-Likelihood:                -2016.6
No. Observations:                 398   AIC:                             4041.
Df Residuals:                     394   BIC:                             4057.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     70.3761      3.567     19.729      0.000      63.363      77.389
g             17.7581      5.557      3.196      0.002       6.833      28.683
t             30.8718      5.045      6.120      0.000      20.954      40.790
gt            29.0184      7.859      3.692      0.000      13.568      44.469
==============================================================================
Omnibus:                      424.099   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.202
Skew:                          -0.057   Prob(JB):                     1.24e-06
Kurtosis:                       1.724   Cond. No.                         6.45
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# 2

In [ ]:
churn_df=pd.read_excel('/content/drive/MyDrive/Data.xlsx', 'Data 2')

In [ ]:
churn_df.head()

,Customer ID,Joined?,Customer Age with Firm at time of launching the online community,Churned at 3 months after launch of the online community,Average Spend Last 3 months of Life with the firm
0,1000201,1,7.008895,0,88.000000
1,1000202,0,6.595568,1,102.666667
2,1000203,0,7.932284,1,45.333333
3,1000204,1,2.391398,1,113.333333
4,1000205,1,5.335660,0,99.333333

In [ ]:
churn_df['Average Spend Last 3 months of Life with the firm']=np.round(
    churn_df['Average Spend Last 3 months of Life with the firm'])

In [ ]:
import statsmodels.api as sm
x=churn_df[["Joined?",
            "Customer Age with Firm at time of launching the online community",
            "Average Spend Last 3 months of Life with the firm"]]
y=churn_df[' Churned at 3 months after launch of the online community']
x=sm.add_constant(x)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
len(churn_df[(churn_df[' Churned at 3 months after launch of the online community']==1) &
         (churn_df['Joined?']==1)])/sum(churn_df['Joined?']==1)

0.7073170731707317

In [ ]:
len(churn_df[(churn_df[' Churned at 3 months after launch of the online community']==1) &
         (churn_df['Joined?']==0)])/sum(churn_df['Joined?']==0)

0.5128205128205128

In [ ]:
log_churn=sm.Logit(y, x).fit()
log_churn.summary()

Optimization terminated successfully.
         Current function value: 0.654587
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                                               Logit Regression Results
=====================================================================================================================
Dep. Variable:      Churned at 3 months after launch of the online community   No. Observations:                  199
Model:                                                                 Logit   Df Residuals:                      195
Method:                                                                  MLE   Df Model:                            3
Date:                                                       Fri, 11 Nov 2022   Pseudo R-squ.:                 0.03133
Time:                                                               07:19:30   Log-Likelihood:                -130.26
converged:                                                              True   LL-Null:                       -134.48
Covariance Type:                                                   nonrobust   LLR p-value:                   0.03796
====================================================================================================================================
                                                                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------------------------
const                                                                0.4672      0.536      0.872      0.383      -0.583       1.517
Joined?                                                              0.9196      0.355      2.589      0.010       0.223       1.616
Customer Age with Firm at time of launching the online community    -0.0518      0.073     -0.709      0.479      -0.195       0.092
Average Spend Last 3 months of Life with the firm                   -0.0030      0.006     -0.524      0.600      -0.014       0.008
====================================================================================================================================
"""

In [ ]:
params=log_churn.params
ci=log_churn.conf_int()
ci['Odds Ratio'] = params
ci.columns = ['5%', '95%', 'Odds Ratio']
print(np.exp(ci))

                                                          5%       95%  \
const                                               0.558242  4.560641
Joined?                                             1.250391  5.031874
Customer Age with Firm at time of launching the...  0.822677  1.095848
Average Spend Last 3 months of Life with the firm   0.986036  1.008163

                                                    Odds Ratio
const                                                 1.595600
Joined?                                               2.508348
Customer Age with Firm at time of launching the...    0.949489
Average Spend Last 3 months of Life with the firm     0.997038

odds ratio interpretation: If someone joins the community they are 150.9% more likely to churn than someone who has not joined the community.

# 3

In [ ]:
churn_df_q3=pd.read_csv("/content/drive/MyDrive/Assignment3/Assignment3HW3_Data.csv")
#df_question_1=pd.read_excel('/content/drive/MyDrive/Assignment3/Assignment3HW3_Data.xlsx',
                  #'Data 1')

In [ ]:
#churn_df_q3=churn_df_q3.merge(did[['Customer ID',"Month Before","Month After"]], on='Customer ID')

In [ ]:
i=0.05
churn_df_q3['m']=0.5*3*churn_df_q3['Average Spend Last 3 months of Life with the firm']
#churn_df_q3['m_before']=0.5*churn_df_q3['Month Before']
#churn_df_q3['m_after']=0.5*churn_df_q3['Month After']

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(np.round(log_churn.predict()),churn_df_q3[' Churned at 3 months after launch of the online community'])

0.6130653266331658

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(np.round(log_churn.predict()),churn_df_q3[' Churned at 3 months after launch of the online community'])

0.5888563049853373

In [ ]:
import seaborn as sns
from sklearn.metrics import confusion_matrix
confusion_matrix(np.round(log_churn.predict()),churn_df_q3[' Churned at 3 months after launch of the online community'])

array([[24, 20],
       [57, 98]])

In [ ]:
churn_df_q3["r"]=1-log_churn.predict()
#sum(churn_df_q3[' Churned at 3 months after launch of the online community']==0)/len(churn_df_q3)
#log_churn.predict(x)

In [ ]:
churn_df_q3['clv']=churn_df_q3['m']*((1+i)/(1+i-churn_df_q3["r"]))
#churn_df_q3['clv_before']=churn_df_q3['m_before']*((1+i)/(1+i+churn_df_q3["r"]))
#churn_df_q3['clv_after']=churn_df_q3['m_after']*((1+i)/(1+i+churn_df_q3["r"]))
#(churn_df_q3['m']*churn_df_q3['r'])/(1+i)

In [ ]:
churn_df_q3

,Customer ID,Joined?,Customer Age with Firm at time of launching the online community,Churned at 3 months after launch of the online community,Average Spend Last 3 months of Life with the firm,m,r,clv
0,1000201,1,7,0,88,132.0,0.318086,189.366553
1,1000202,0,7,1,103,154.5,0.544906,321.178098
2,1000203,0,8,1,45,67.5,0.519331,133.557890
3,1000204,1,2,1,113,169.5,0.283379,232.155202
4,1000205,1,5,0,99,148.5,0.306469,209.708743
...,...,...,...,...,...,...,...,...
194,1000395,0,4,1,95,142.5,0.501258,272.669265
195,1000396,0,5,1,28,42.0,0.472365,76.345737
196,1000397,0,5,0,25,37.5,0.464734,67.277096
197,1000398,1,2,1,95,142.5,0.265905,190.825167
198,1000399,0,6,1,47,70.5,0.498582,134.244777

In [ ]:
churn_df_q3.groupby('Joined?')[['clv']].mean()

                clv
Joined?
0        191.773491
1        206.660052

In [ ]:
churn_df_q3.columns

Index(['Customer ID', 'Joined?',
       'Customer Age with Firm at time of launching the online community',
       ' Churned at 3 months after launch of the online community',
       'Average Spend Last 3 months of Life with the firm', 'm', 'r', 'clv'],
      dtype='object')

In [ ]:
churn_df_q3.corr()

,Customer ID,Joined?,Customer Age with Firm at time of launching the online community,Churned at 3 months after launch of the online community,Average Spend Last 3 months of Life with the firm,m,r,clv
Customer ID,1.000000,-0.080153,-0.063062,0.083331,-0.066226,-0.066226,0.055355,-0.044380
Joined?,-0.080153,1.000000,-0.026346,0.194862,0.506416,0.506416,-0.956028,0.100803
Customer Age with Firm at time of launching the online community,-0.063062,-0.026346,1.000000,-0.058872,-0.019496,-0.019496,0.262070,0.085733
Churned at 3 months after launch of the online community,0.083331,0.194862,-0.058872,1.000000,0.069539,0.069539,-0.204219,-0.007501
Average Spend Last 3 months of Life with the firm,-0.066226,0.506416,-0.019496,0.069539,1.000000,1.000000,-0.341171,0.893906
m,-0.066226,0.506416,-0.019496,0.069539,1.000000,1.000000,-0.341171,0.893906
r,0.055355,-0.956028,0.262070,-0.204219,-0.341171,-0.341171,1.000000,0.092035
clv,-0.044380,0.100803,0.085733,-0.007501,0.893906,0.893906,0.092035,1.000000

In [ ]:
import statsmodels.api as sm
x=churn_df_q3[['Joined?',"Customer Age with Firm at time of launching the online community",
               ' Churned at 3 months after launch of the online community']]
y=churn_df_q3['clv']
x=sm.add_constant(x)
log_churn2=sm.OLS(y, x).fit()
log_churn2.summary()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    clv   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     1.225
Date:                Fri, 11 Nov 2022   Prob (F-statistic):              0.302
Time:                        07:20:13   Log-Likelihood:                -1133.5
No. Observations:                 199   AIC:                             2275.
Df Residuals:                     195   BIC:                             2288.
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================================================================
                                                                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------------------------
const                                                              180.6766     13.849     13.046      0.000     153.363     207.990
Joined?                                                             15.8976     10.683      1.488      0.138      -5.172      36.967
Customer Age with Firm at time of launching the online community     3.0852      2.515      1.227      0.221      -1.875       8.045
 Churned at 3 months after launch of the online community           -3.4540     10.718     -0.322      0.748     -24.593      17.685
==============================================================================
Omnibus:                       37.154   Durbin-Watson:                   1.961
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                8.635
Skew:                           0.004   Prob(JB):                       0.0133
Kurtosis:                       1.980   Cond. No.                         14.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

coefficient interpretation: Participation in the community had no statistically significant affect on customer lifetime value

#

In [ ]:
campaign=pd.read_excel("/content/drive/MyDrive/Assignment3/Assignment3HW3_Data.xlsx", 'Data 3')

In [ ]:
campaign['Average Spend Last 3 months of Life with the firm']=np.round(campaign['Average Spend Last 3 months of Life with the firm'])

In [ ]:
campaign.columns

Index(['Campaign/Organic', 'Customer ID', 'Month Before', 'Month After',
       'Customer Age with Firm at time of launching the online community',
       'Joined?', 'Churned at 3 months',
       'Average Spend Last 3 months of Life with the firm'],
      dtype='object')

In [ ]:
did2=campaign[["Month Before", "Month After","Campaign/Organic"]]

In [ ]:
did2.groupby("Campaign/Organic").mean()

                  Month Before  Month After
Campaign/Organic
0                    75.320000   120.453333
1                    79.129032   120.564516

In [ ]:
did2=campaign[campaign["Campaign/Organic"]==1]

In [ ]:
did2.groupby("Campaign/Organic")[['Month Before','Month After']].mean()

                  Month Before  Month After
Campaign/Organic
1                    79.129032   120.564516

In [ ]:
import statsmodels.api as sm
df_before=did2[["Month Before","Joined?"]]
df_before['t']=0
df_before.columns=[["total_rev","g","t"]]

df_after=did2[["Month After", "Joined?"]]
df_after['t']=1
df_after.columns=[["total_rev", "g", "t"]]

df_did=pd.concat([df_before, df_after])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
df_did['gt']=df_did['t'].values*df_did['g'].values

In [ ]:
df_did.head()

   total_rev  g  t gt
5         37  1  0  0
6         78  1  0  0
8        119  0  0  0
9         28  1  0  0
10        63  0  0  0

In [ ]:
x=df_did[['g','t','gt']]
y=df_did['total_rev']
x=sm.add_constant
from statsmodels.formula.api import ols
ols = ols('total_rev ~ g + t + gt', data=df_did).fit()
print(ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              total_rev   R-squared:                       0.333
Model:                            OLS   Adj. R-squared:                  0.325
Method:                 Least Squares   F-statistic:                     40.65
Date:                Wed, 09 Nov 2022   Prob (F-statistic):           2.44e-21
Time:                        05:34:54   Log-Likelihood:                -1255.1
No. Observations:                 248   AIC:                             2518.
Df Residuals:                     244   BIC:                             2532.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     71.5333      4.442     16.103      0.000      62.783      80.284
g             19.2218      7.067      2.720      0.007       5.302      33.141
t             30.8000      6.282      4.903      0.000      18.425      43.175
gt            26.9143      9.994      2.693      0.008       7.229      46.600
==============================================================================
Omnibus:                      171.581   Durbin-Watson:                   2.027
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.965
Skew:                          -0.143   Prob(JB):                     0.000207
Kurtosis:                       1.751   Cond. No.                         6.40
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
did3=campaign[campaign["Campaign/Organic"]==0]
df_before=did3[["Month Before","Joined?"]]
df_before['t']=0
df_before.columns=[["total_rev","g","t"]]

df_after=did3[["Month After", "Joined?"]]
df_after['t']=1
df_after.columns=[["total_rev", "g", "t"]]

df_did=pd.concat([df_before, df_after])

df_did['gt']=df_did['t'].values*df_did['g'].values

x=df_did[['g','t','gt']]
y=df_did['total_rev']
x=sm.add_constant
from statsmodels.formula.api import ols
ols = ols('total_rev ~ g + t + gt', data=df_did).fit()
print(ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              total_rev   R-squared:                       0.356
Model:                            OLS   Adj. R-squared:                  0.343
Method:                 Least Squares   F-statistic:                     26.88
Date:                Wed, 09 Nov 2022   Prob (F-statistic):           6.70e-14
Time:                        05:34:59   Log-Likelihood:                -761.02
No. Observations:                 150   AIC:                             1530.
Df Residuals:                     146   BIC:                             1542.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     68.3095      6.045     11.300      0.000      56.363      80.256
g             15.9329      9.113      1.748      0.083      -2.078      33.944
t             31.0000      8.549      3.626      0.000      14.105      47.895
gt            32.1212     12.888      2.492      0.014       6.650      57.592
==============================================================================
Omnibus:                       96.658   Durbin-Watson:                   2.399
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               10.455
Skew:                           0.086   Prob(JB):                      0.00537
Kurtosis:                       1.718   Cond. No.                         6.55
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
x=campaign[["Customer Age with Firm at time of launching the online community",
            "Churned at 3 months",
            "Campaign/Organic"]]
y=campaign['Average Spend Last 3 months of Life with the firm']
x=sm.add_constant(x)
ols2=sm.OLS(y,x).fit()
ols2.summary()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                                            OLS Regression Results
=============================================================================================================
Dep. Variable:     Average Spend Last 3 months of Life with the firm   R-squared:                       0.008
Model:                                                           OLS   Adj. R-squared:                 -0.007
Method:                                                Least Squares   F-statistic:                    0.5145
Date:                                               Wed, 09 Nov 2022   Prob (F-statistic):              0.673
Time:                                                       03:24:15   Log-Likelihood:                -960.33
No. Observations:                                                199   AIC:                             1929.
Df Residuals:                                                    195   BIC:                             1942.
Df Model:                                                          3
Covariance Type:                                           nonrobust
====================================================================================================================================
                                                                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------------------------
const                                                               81.2238      6.251     12.995      0.000      68.897      93.551
Customer Age with Firm at time of launching the online community    -0.8124      1.075     -0.756      0.451      -2.932       1.307
Churned at 3 months                                                  4.1558      4.406      0.943      0.347      -4.534      12.846
Campaign/Organic                                                    -0.0146      4.461     -0.003      0.997      -8.812       8.783
==============================================================================
Omnibus:                       14.012   Durbin-Watson:                   2.010
Prob(Omnibus):                  0.001   Jarque-Bera (JB):                5.393
Skew:                          -0.029   Prob(JB):                       0.0674
Kurtosis:                       2.196   Cond. No.                         15.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
pip install pysal

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pysal
  Downloading pysal-2.7.0-py3-none-any.whl (17 kB)
Collecting mapclassify>=2.4.3
  Downloading mapclassify-2.4.3-py3-none-any.whl (38 kB)
Collecting pointpats>=2.2.0
  Downloading pointpats-2.2.0.tar.gz (55 kB)
     |████████████████████████████████| 55 kB 4.4 MB/s
Collecting spvcm>=0.3.0
  Downloading spvcm-0.3.0.tar.gz (5.7 MB)
     |████████████████████████████████| 5.7 MB 48.5 MB/s
Collecting segregation>=2.3.1
  Downloading segregation-2.3.1-py3-none-any.whl (147 kB)
     |████████████████████████████████| 147 kB 42.4 MB/s
Collecting pysal
  Downloading pysal-2.6.0-py3-none-any.whl (17 kB)
Collecting momepy>=0.5.2
  Downloading momepy-0.5.4-py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 46.0 MB/s
Collecting spaghetti>=1.6.5
  Downloading spaghetti-1.6.5-py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 3.9 MB/s
Collecting esda>=2.4.1
  Downloading esda-2.4.3.tar.gz (116 kB)
     |████████████████████████████████| 116 kB 41.9 MB/s
Collecting giddy>=2.3.3
  Downloading giddy-2.3.3-py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 3.9 MB/s
Collecting access>=1.1.3
  Downloading access-1.1.8-py3-none-any.whl (21 kB)
Collecting spglm>=1.0.8
  Downloading spglm-1.0.8.tar.gz (37 kB)
Collecting spreg>=1.2.4
  Downloading spreg-1.3.0-py3-none-any.whl (220 kB)
     |████████████████████████████████| 220 kB 44.4 MB/s
Collecting spopt>=0.2.1
  Downloading spopt-0.4.1-py3-none-any.whl (84 kB)
     |████████████████████████████████| 84 kB 2.0 MB/s
Collecting libpysal>=4.6.0
  Downloading libpysal-4.6.2-py3-none-any.whl (2.4 MB)
     |████████████████████████████████| 2.4 MB 41.6 MB/s
Collecting inequality>=1.0.0
  Downloading inequality-1.0.0.tar.gz (11 kB)
Collecting tobler>=0.8.2
  Downloading tobler-0.9.0-py3-none-any.whl (22 kB)
Collecting mgwr>=2.1.2
  Downloading mgwr-2.1.2.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 662 kB/s
Collecting splot>=1.1.4
  Downloading splot-1.1.5.post1-py3-none-any.whl (39 kB)
Collecting spint>=1.0.7
  Downloading spint-1.0.7.tar.gz (28 kB)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from access>=1.1.3->pysal) (1.3.5)
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 14.0 MB/s
Requirement already satisfied: requests>=2 in /usr/local/lib/python3.7/dist-packages (from access>=1.1.3->pysal) (2.23.0)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.7/dist-packages (from access>=1.1.3->pysal) (1.21.6)
Requirement already satisfied: scipy>=0.11 in /usr/local/lib/python3.7/dist-packages (from esda>=2.4.1->pysal) (1.7.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from esda>=2.4.1->pysal) (1.0.2)
Collecting quantecon>=0.4.7
  Downloading quantecon-0.5.3-py3-none-any.whl (179 kB)
     |████████████████████████████████| 179 kB 19.7 MB/s
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from libpysal>=4.6.0->pysal) (4.6.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from libpysal>=4.6.0->pysal) (2.11.3)
Requirement already satisfied: appdirs in /usr/local/lib/python3.7/dist-packages (from libpysal>=4.6.0->pysal) (1.4.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from libpysal>=4.6.0->pysal) (21.3)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.4.3->pysal) (2.6.3)
Collecting pygeos
  Downloading pygeos-0.13-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 20.0 MB/s
Requirement already satisfied: tqdm>=4.27.0 in /usr/local/lib/python3.7/dist-packages (from momepy>=0.5.2->pysal) (4.64.1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 359 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 25.9 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas->access>=1.1.3->pysal) (1.8.5.post1)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->access>=1.1.3->pysal) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->access>=1.1.3->pysal) (57.4.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->access>=1.1.3->pysal) (22.1.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->access>=1.1.3->pysal) (2022.9.24)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->access>=1.1.3->pysal) (7.1.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->access>=1.1.3->pysal) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->access>=1.1.3->pysal) (2.8.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pointpats>=2.2.0->pysal) (3.2.2)
Requirement already satisfied: opencv-contrib-python>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from pointpats>=2.2.0->pysal) (4.6.0.66)
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from quantecon>=0.4.7->giddy>=2.3.3->pysal) (0.56.4)
Requirement already satisfied: sympy in /usr/local/lib/python3.7/dist-packages (from quantecon>=0.4.7->giddy>=2.3.3->pysal) (1.7.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2->access>=1.1.3->pysal) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2->access>=1.1.3->pysal) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2->access>=1.1.3->pysal) (3.0.4)
Collecting rvlib>=0.0.5
  Downloading rvlib-0.0.6.tar.gz (183 kB)
     |████████████████████████████████| 183 kB 55.4 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from segregation>=2.3.1->pysal) (1.2.0)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from segregation>=2.3.1->pysal) (21.1.3)
Collecting quilt3
  Downloading quilt3-5.0.0-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 7.6 MB/s
Collecting deprecation
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from segregation>=2.3.1->pysal) (0.11.2)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from rvlib>=0.0.5->segregation>=2.3.1->pysal) (1.15.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from rvlib>=0.0.5->segregation>=2.3.1->pysal) (6.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.0->rvlib>=0.0.5->segregation>=2.3.1->pysal) (2.21)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba->quantecon>=0.4.7->giddy>=2.3.3->pysal) (0.39.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from numba->quantecon>=0.4.7->giddy>=2.3.3->pysal) (4.13.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->esda>=2.4.1->pysal) (3.1.0)
Collecting rtree
  Downloading Rtree-1.0.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 44.1 MB/s
Collecting pulp
  Downloading PuLP-2.7.0-py3-none-any.whl (14.3 MB)
     |████████████████████████████████| 14.3 MB 37.9 MB/s
Collecting rasterio
  Downloading rasterio-1.2.10-cp37-cp37m-manylinux1_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 1.2 MB/s
Collecting rasterstats
  Downloading rasterstats-0.17.0-py3-none-any.whl (16 kB)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from tobler>=0.8.2->pysal) (0.12.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba->quantecon>=0.4.7->giddy>=2.3.3->pysal) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba->quantecon>=0.4.7->giddy>=2.3.3->pysal) (3.10.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->libpysal>=4.6.0->pysal) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pointpats>=2.2.0->pysal) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pointpats>=2.2.0->pysal) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pointpats>=2.2.0->pysal) (3.0.9)
Requirement already satisfied: tenacity>=5.1.1 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.3.1->pysal) (8.1.0)
Collecting jsonlines==1.2.0
  Downloading jsonlines-1.2.0-py2.py3-none-any.whl (7.6 kB)
Requirement already satisfied: jsonschema<5,>=3 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.3.1->pysal) (4.3.3)
Collecting aws-requests-auth>=0.4.2
  Downloading aws_requests_auth-0.4.3-py2.py3-none-any.whl (6.8 kB)
Collecting requests-futures==1.0.0
  Downloading requests_futures-1.0.0-py2.py3-none-any.whl (7.4 kB)
Collecting boto3>=1.10.0
  Downloading boto3-1.26.8-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 58.7 MB/s
Collecting botocore<1.30.0,>=1.29.8
  Downloading botocore-1.29.8-py3-none-any.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 43.5 MB/s
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 8.4 MB/s
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 46.5 MB/s
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema<5,>=3->quilt3->segregation>=2.3.1->pysal) (5.10.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema<5,>=3->quilt3->segregation>=2.3.1->pysal) (0.19.2)
Collecting affine
  Downloading affine-2.3.1-py2.py3-none-any.whl (16 kB)
Collecting snuggs>=1.4.1
  Downloading snuggs-1.4.7-py3-none-any.whl (5.4 kB)
Collecting simplejson
  Downloading simplejson-3.17.6-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (130 kB)
     |████████████████████████████████| 130 kB 59.9 MB/s
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels->tobler>=0.8.2->pysal) (0.5.3)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.7/dist-packages (from sympy->quantecon>=0.4.7->giddy>=2.3.3->pysal) (1.2.1)
Building wheels for collected packages: esda, inequality, mgwr, pointpats, rvlib, spglm, spint, spvcm
  Building wheel for esda (setup.py) ... done
  Created wheel for esda: filename=esda-2.4.3-py3-none-any.whl size=122782 sha256=f15e33350b09b6c1dd206bbf985dce278b6bf4ae121e10727948de8c0ce83926
  Stored in directory: /root/.cache/pip/wheels/37/07/2e/2aa4874ca25fa442a3912c74e53780da19d25ec1d58bac5d30
  Building wheel for inequality (setup.py) ... done
  Created wheel for inequality: filename=inequality-1.0.0-py3-none-any.whl size=11800 sha256=b80e2eabd5f10124f3df6dbe875025732a8d6de9ca3cdc0919baa9da270e6095
  Stored in directory: /root/.cache/pip/wheels/a8/81/7a/af8b9e8ea0b034ac1bdd9d68f3a8ceac179eb5418cdb83c851
  Building wheel for mgwr (setup.py) ... done
  Created wheel for mgwr: filename=mgwr-2.1.2-py3-none-any.whl size=46384 sha256=252fe4824831cd8b7f2e14b20dea93ce80bdb50e1a973dba4b7866f56faeec15
  Stored in directory: /root/.cache/pip/wheels/e8/55/57/c1bf993ab0ab4b9885ac1fdf7f9f960397355cf889b77a3e4b
  Building wheel for pointpats (setup.py) ... done
  Created wheel for pointpats: filename=pointpats-2.2.0-py3-none-any.whl size=60837 sha256=89035428ae93a21f12378a9d78589fb0e8ac97746910663c5e515b348f2e2659
  Stored in directory: /root/.cache/pip/wheels/41/5f/91/08cc68af630fafdc6bed36128abf8e716e062256a8495fdb2d
  Building wheel for rvlib (setup.py) ... done
  Created wheel for rvlib: filename=rvlib-0.0.6-cp37-cp37m-linux_x86_64.whl size=351602 sha256=67e29005d0658def3c83de740cf6ec79f7fb3218eacbc03e802d392a621ee811
  Stored in directory: /root/.cache/pip/wheels/8e/fe/cb/66b78310be88014dfbe1a21391c873a9fe49dca403f7d9f454
  Building wheel for spglm (setup.py) ... done
  Created wheel for spglm: filename=spglm-1.0.8-py3-none-any.whl size=38805 sha256=a9865f66fcb9c7a6a38b765567c8f8f126cdcf136c66dab9c47c52826d3939a5
  Stored in directory: /root/.cache/pip/wheels/29/79/e9/453e3b0d858bed16e097c6e6bbd75e2b966bfcfb21b12790d0
  Building wheel for spint (setup.py) ... done
  Created wheel for spint: filename=spint-1.0.7-py3-none-any.whl size=31383 sha256=63e9b6216b7e2407067501c93a8b53204558f968a8d4e70c71a525306766c05d
  Stored in directory: /root/.cache/pip/wheels/dd/ac/5d/25d69231f3bffa2cb47ce29bb7eac9df9246aa9ba286a03a2d
  Building wheel for spvcm (setup.py) ... done
  Created wheel for spvcm: filename=spvcm-0.3.0-py3-none-any.whl size=5777202 sha256=5f3837722f41c1f2845fa57d0b34b56a4a0b2ccee6911b0a7751211b1015f8b8
  Stored in directory: /root/.cache/pip/wheels/a4/85/1a/d890ef4d2eaca2788e45925fa531bb58a2138734065abdfe08
Successfully built esda inequality mgwr pointpats rvlib spglm spint spvcm
Installing collected packages: urllib3, jmespath, botocore, snuggs, s3transfer, munch, libpysal, cligj, click-plugins, affine, spreg, simplejson, rtree, requests-futures, rasterio, quantecon, pyproj, mapclassify, jsonlines, fiona, esda, boto3, aws-requests-auth, spglm, spaghetti, rvlib, rasterstats, quilt3, pygeos, pulp, giddy, geopandas, deprecation, tobler, spvcm, spopt, splot, spint, segregation, pointpats, momepy, mgwr, inequality, access, pysal
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed access-1.1.8 affine-2.3.1 aws-requests-auth-0.4.3 boto3-1.26.8 botocore-1.29.8 click-plugins-1.1.1 cligj-0.7.2 deprecation-2.1.0 esda-2.4.3 fiona-1.8.22 geopandas-0.10.2 giddy-2.3.3 inequality-1.0.0 jmespath-1.0.1 jsonlines-1.2.0 libpysal-4.6.2 mapclassify-2.4.3 mgwr-2.1.2 momepy-0.5.4 munch-2.5.0 pointpats-2.2.0 pulp-2.7.0 pygeos-0.13 pyproj-3.2.1 pysal-2.6.0 quantecon-0.5.3 quilt3-5.0.0 rasterio-1.2.10 rasterstats-0.17.0 requests-futures-1.0.0 rtree-1.0.1 rvlib-0.0.6 s3transfer-0.6.0 segregation-2.3.1 simplejson-3.17.6 snuggs-1.4.7 spaghetti-1.6.5 spglm-1.0.8 spint-1.0.7 splot-1.1.5.post1 spopt-0.4.1 spreg-1.3.0 spvcm-0.3.0 tobler-0.9.0 urllib3-1.25.11

In [ ]:
from pysal.model import spreg
from pysal.lib import weights
from pysal.explore import esda

/usr/local/lib/python3.7/dist-packages/spaghetti/network.py:36: FutureWarning: The next major release of pysal/spaghetti (2.0.0) will drop support for all ``libpysal.cg`` geometries. This change is a first step in refactoring ``spaghetti`` that is expected to result in dramatically reduced runtimes for network instantiation and operations. Users currently requiring network and point pattern input as ``libpysal.cg`` geometries should prepare for this simply by converting to ``shapely`` geometries.
  warnings.warn(f"{dep_msg}", FutureWarning)